:root{
    --darkGray: #27272B;
    --midGray: #2C2C31;
    --lightGray: #323236;
    --gray: #7F7F85;
    --highlightGray: #323236;
    --textGray: #7F7F85;
}

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: inter;
    color: #ffffff;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--darkGray);
}

/* SIDE-BAR */

.side-bar{
    background-color: var(--midGray);
    width: 300px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.side-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.side-header img{
    height: 60px;
}

.side-heading{
    font-family: Fraunces;
    font-weight: 900;
}

.side-item{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    font-size: 1.1rem;
}

.side-item:hover{
    background-color: var(--highlightGray);
    border-radius: 10px;
    cursor: pointer;
}

.side-item-pro div{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 15px;
}

.side-item-lable{
    flex: 1;
}

.side-project{
    margin-top: 40px;
}

.project-icon,
.project-add-btn{
    color: var(--textGray);
}

.side-project-header{
    display: flex;
    align-items: center;
    padding: 15px 20px;
}


.side-project-heading{
    color: var(--textGray);
    font-size: 1.2rem;
    flex: 1;
}

.project-add-btn:hover{
    cursor: pointer;
}

.project-modal{
    background-color: var(--midGray);
    border: 0px;
    border-radius: 10px;
    width: 500px;
}

.project-modal-grp{
    display: flex;
    justify-content: start;
    gap: 20px;
}

.project-modal-heading{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;
}

#project-input{
    flex: 1;
}

.project-modal-btn:hover{
    cursor: pointer;
}

/* MAIN-CONTENT */

.main-content{
    background-color: var(--darkGray);
    padding: 15px 50px;
    flex: 1;
}

.content-heading{
    font-family: Fraunces;
    font-weight: 900;
    text-align: center;
}

.add-task-container{
    background-color: var(--highlightGray);
    color: var(--gray);
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-task-container:hover{
    background-color: var(--midGray);
    cursor: pointer;
}

.add-task{
    font-size: 1.1rem;
    font-weight: 500;    
}

.content-text{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

.content-list{
    margin: 40px 0px;
}

.content-list-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.content-item{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.content-item:hover{
    background-color: var(--lightGray);
    border-radius: 10px;
}

.checked{
    color: var(--textGray);
}

.checked:hover,
.unchecked:hover,
.edit-task:hover,
.delete-task:hover{
    cursor: pointer;
}

.content-item-text,
.checked-item-text{
    font-size: 1.2rem;
    flex: 1;
}

.checked-item-text{
    text-decoration: line-through;
    color: var(--textGray);
}

.content-item-text:hover,
.checked-item-text:hover{
    cursor: default;
}


/* MODAL */

.modal{
    background-color: var(--midGray);
    border: 0px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.modal::backdrop,
.project-modal::backdrop{
    background-color: var(--gray);
    opacity: 0.25;
}

.modal-heading{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ffffff;
    font-size: 1rem;
}

.row{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.col{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select{
    background-color: var(--midGray);
    border: 1px solid var(--textGray);
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    font-family: inter;
    font-size: 1rem;
}

input:focus{
    outline: none;
    border: 1px solid #ffffff;
}

.btn,
.project-modal-btn{
    padding: 10px;
    font-family: Fraunces;
    font-size: 1.3rem;
    font-weight: 600;
    border: 0px;
    border-radius: 10px;
}

.btn:hover{
    background-color:  #cbcbcc;
}

.input-red{
    border: 1px solid rgb(223, 66, 66);
}

.input-red:focus{
    border: 1px solid rgb(223, 66, 66);
}

/* Mobile styling */

@media (max-width: 700px){
    
    .container{
        flex-direction: column;
    }

    /* SIDE-BAR */

    .side-bar{
        width: auto;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .side-header{
        display: flex;
        justify-content: center;
        padding: 10px;
        padding-top: 0px;
        margin-top: 40px;
    }
    
    .side-header img{
        display: none;
    }

    .side-content{
        display: flex;
        gap: 20px;
        overflow: scroll;
        margin: 10px;
    }
    
    .side-item span:first-of-type{
        display: none;
    }

    .side-item div:last-child {
        display: none;
    }

    .side-item{
        border: 2px solid var(--gray);
        border-radius: 25px;
        padding: 15px 20px;
        font-family: Fraunces;
        font-weight: 500;
    }

    .side-item:hover{
        background-color: #ffffff;
        color: var(--midGray);
        border-radius: 25px;
        cursor: pointer;
    }

    .side-project{
        margin: 20px 10px;
        display: flex;
        gap: 20px;
    }

    .side-project-header{
        border: 2px dotted var(--gray);
        border-radius: 25px;
        padding: 15px 20px;
    }

    .side-project-header div{
        display: none;
    }

    .side-project-items{
        display: flex;
        gap: 20px;
        overflow: scroll;
    }   
       
    .project-modal{
        width: 80%;
        height: 20%;
    }
    
    .project-modal-grp{
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
    }
    
    .project-modal-heading{
        font-family: Fraunces;
        font-weight: 900;
        font-size: 1.5rem;
        text-align: center;
        color: #ffffff;
        padding-bottom: 20px;
    }
    
    #project-input{
        flex: 1;
    }

    /* MAIN-CONTENT */

    .main-content{
        padding: 1rem;
    }

    .content-heading{
        display: none;
    }
    
    .content-list{
        margin: 20px 0px;
    }
     
    /* MODAL */
    
    .modal{
        width: 80%;
        height: 600px;
    }

    .row{
        flex-direction: column;
        justify-content: start;
    }

    .col{
        flex-direction: column;
        gap: 10px;
    }

    form{
        justify-content: start;
        gap: 20px;
    }
}